@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,900&display=swap');
@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";

body {
  margin: 0;
  padding: 0;
  font-family:$mainFont;
  font-size: 1.6rem;
  font-weight: 400;
  background:$backgroundColor;
  color:$mainColor;
}
header{
  z-index:20;
  background:$backgroundColor;
  position: sticky;
  top:-1px;
  @media screen and (max-width: $md){
    position: unset;
  }
}
main{
  flex: 1 0 auto;
  z-index:10;
}
footer{
  flex: 0 0 auto;
  background:#232323;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}
.container{
  max-width: 1200px;
  padding:0 20px;
  margin:0 auto;
  position: relative;
  overflow: hidden;

  @media screen and (max-width:$xl){
    max-width: 100%;
  }
  @media screen and (max-width: $sm){
    padding:0 10px;
  }

  &__menu{
    @media screen and (max-width: $sm){
      padding:0 0 0 10px;
    }
  }
}
a{
  transition: $transition;
  &:hover,
  &:focus,
  &:active{
    color:$secondColor
  }
}

@import "sections/header";
@import "sections/slider";
@import "sections/menu";
@import "sections/title";
@import "sections/product";
@import "sections/people-count";
@import "sections/btn";
@import "sections/tab";
@import "sections/modal";
@import "sections/footer";
@import "sections/social";
@import "sections/cart";

