// Font
$mainFont          : Nunito, sans-serif;

// Size width
$xl : 1200px;
$lg : 1024px;
$md : 980px;
$sm : 767px;

$tablet : 1020px;

// Size height

$iphone8: 667px;

// Main color
$backgroundColor : #FFF9ED;
$defaultColor    : #ffffff;
$primaryColor    : #36A9E1;
$secondColor     : #F39200;
$mainColor       : #2E2E2E;
$grayColor       : #B0ABA1;

$transition     :all .3s ease;



