.title{
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #000000;

  &_block{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    &__people{
      align-items: flex-end;

      @media screen and (max-width: $sm){
        flex-flow: column;
        align-items: flex-start;
      }
    }
  }

}